<div class="home-header">
    {{#if search}}
        <h1>{{#if this.toughtQty}} 
            {{this.toughtQty}}
        {{else}}
            0
        {{/if}}
            Resultados para: <span>{{this.search}}</span></h1>
    {{else}}
        <h1>Conheça alguns dos nossos <span>Pensamentos</span>:</h1>
    {{/if}}
    <h1>Todos os Pensamentos</h1>
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Pesquisar">
        <button type="submit" class="btn">Pesquisar</button>
    </form>
    <div class="order-container">
        <span>Ordenar por:</span>
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit" ><i class="bi bi-arrow-up"></i></button>
        </form>
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit" ><i class="bi bi-arrow-down"></i></button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>
<div class="toughts-container">
    {{#each toughts}}
        <figure>
            <blockquote>
                "{{this.title}}"
            </blockquote>
            <div class="infos-toughts">
                <figcaption>por <span>{{this.User.name}}</span></figcaption>
                <figcaption class="date">{{this.createdAt}}</figcaption>
            </div>
        </figure>
    {{/each}}
</div>